@import "../../index.css";
.popup {
  position: absolute !important;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  z-index: 2000;
}
.popup .popup-background {
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(var(--colorII), 0.5);
  backdrop-filter: blur(10px) !important;
  -webkit-backdrop-filter: blur(10px) !important;
  opacity: 1;
  transition: opacity 0.3s ease-in-out;
}
.popup .popup-background.hide {
  opacity: 0;
}
.popup-window {
  min-width: 220px;
  background: linear-gradient(
    180deg,
    rgba(var(--colorII), 1) 0%,
    rgba(var(--colorII), 1) 100%
  );
  boxshadow: 0px 0px 5px rgba(150, 150, 150, 0.5);
  border: rgba(255, 255, 255, 1) 1px groove;
  border-radius: 7px;
  transform: scale(1);
  transition: transform 0.3s ease-in-out;
}
.popup .popup-window.hide {
  transform: scale(0);
}
